body {
  background-image: url('/images/backgrounds/wood.png');
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

div.container:first-child {
  margin-top: 20px;
}

/**
 * Catalog
 */
.catalog-item img {
  box-sizing: border-box;
  width: 100%;
  height: 180px;
  padding: 10px;
  background: white;
  border: 1px solid #eee;
  margin-bottom: 20px;
}

